
body{
    color: white;
    font-family: 'poppins', sans-serif;
}

.img-sec{
  width: 90px;
  height: 90px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid #d4af37;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-sec img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.company-name {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

/* TC part (logo-like) */
.brand-mark {
  font-size: 22px;
  font-weight: 900;
  letter-spacing: -1px;      /* pulls T and C closer */
  color: #d4af37;
  line-height: 1px;
}

/* TECH CORP LTD. part */
.brand-text {
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1.2px;     /* spaced, corporate */
  color: #d4af37;
}


.name-sec {
    letter-spacing: 1px;
}

.id-card{
    width: 450px;
    border-radius: 20px;
    border: 1px solid rgba(86, 20, 20, 0.1);  
    position: relative;
    transition: transform 0.3s ease;
    background: linear-gradient(135deg, #1a1e26 0%, #2c3e50 100%);
}

.id-card:hover{
    transform: translate(-10px);
}


.text-gold {
    color: #d4af37;
}

.divider {
    height: 3px;
    width: 60%;
    background-color: #d4af37;
    margin: 10px 0;
}

.info-text p{
    color: #ddd;
    display: flex;
    font-size: 14px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
}

.info-text strong {
  width: 100px;          
  /* display: inline-block; */
  
}

.info-value {
  margin-left: 5px;    
}

.qr-label{
    /* position: relative; */
    /* color: #1a1e26; */
    color: #d4af37;
    font-size: 10px;
    letter-spacing: 0.5px;
    font-family: 'poppins', sans-serif;
    /* background: #d4af37; */
   
    
}


/* Responsive Media Query */
@media(max-width: 576px){
    .id-card{
      width: 90%;   /*  on mobile, take up 90% of screen width   */
    }

    .divider{
       margin: 5px auto;   /* center divider on mobile */
    }
}
